@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  font-family: Ubuntu, sans-serif;
}

/*body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f5;
}*/

.calendar {
  margin: 0px auto;
  background-color:#EAEDED ;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px ;
  
}
.calendar > span {
  background-color: #5385c1;
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  width: 400px;
  height: 70px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .calendarbox {
  width: 80%;
  height: 60%;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.calendar .calendarbox span {
  font-size: 30px;
  color: black;
}
.calendar .calendarbox span:nth-child(2) {
  font-size: 65px;
  font-weight: 700;
  color: black;
}

* .calendar_id{
	margin-top: 20px;
	margin-left: 250px;
	font-weight: bold;
	color: black;
}

#c_id:hover, #c_id2:hover{
	color: #5385c1;
}

* .calendar_id2{
	margin-top: 0px;
	margin-left: 250px;
	font-weight: bold;
	color: black;
}
.calendar_table{
	margin-left: 100px;
	width: 400px;
	height: 350px;
	border: 1px solid lightgray;
    border-collapse: collapse;
    font-size: 18px;
    font-weight: 500;
}

.calendar_table a:hover{
	color: #5385c1;
}

#d1{
	margin-left: 2px;
}
#d2{
	margin-left: 1.5px;
}
#d3{
	margin-left: 1px;
}
#d4{
	margin-left: 1px;
	margin-top:16px
}
#direct01{
	margin:11px 1px -10px 10px;
}

#direct02{
	margin:18px 1px -10px 10px;
}

#direct03{
	margin:15px 3px -10px 14px;
}

#direct04{
	margin:18px 0px -10px 10px;
}